@charset "utf-8";
/* CSS Document */

/*-- Legends CSS -- */
.faq_legend_portion {background:#fff; padding:5px 10px; margin:0 0 5px; border:0px solid #ececec; /*width:45%;*/ width:40%; width:40%\9;  float:right; }
.faq_legend_portion  .leg_title{float:left;  font-size:14px; font-weight:bold; color:#58595b; text-align:right;}
.faq_legend_portion ul{float:left; list-style:none; margin:0 0 0 20px; padding:0;}
.faq_legend_portion ul li{float:left; margin-right:10px;}
.faq_legend_hd { font-size:14px; font-weight:bold; color:#454545; text-align:right; padding:15px 8px 0px 0px; float:left; }
.faq_active_icon { margin:2px 5px 3px 0px; float:left;}
.faq_active_hd { color:#454545; float:left; font-size:13px; line-height:18px; text-transform:capitalize;}
.faq_active_hd a { color:#454545;}
.faq_active_hd a:hover { color:#315c92;}

/*-- Admin Search Box --*/
.admin_search_wrapp{background:#fffbe7; padding:10px; margin-bottom:5px; overflow: hidden;}
.search_found{font:bold 14px Arial, Helvetica, sans-serif; margin-right:10px; color:#58595b;}
.admin_search_wrapp input[type=button]{font-size:14px;}
.admin_search_wrapp input[type=submit]{font-size:14px;}
.admin_search_wrapp .select{background: none repeat scroll 0 0 #F9F8F7;  border: 1px solid #DDDDDD; color: #8F8F8F;   padding:6px 10px;}
.admin_search_wrapp .input{width:auto; background: none repeat scroll 0 0 #F9F8F7;  border: 1px solid #DDDDDD; color: #8F8F8F;  padding: 6px 10px; }
table .select{background: none repeat scroll 0 0 #F9F8F7;  border: 1px solid #DDDDDD; color: #8F8F8F;   padding:6px 10px;}
table th{background:url(../images/th_bg.jpg) repeat-x left top; color:#166c6c; border:1px solid #afd4e6;}
table th a{color:#3e8fb5;}
table th a:hover{color:#454545;}

.buttonview { padding-left:450px;}

ul.manage_permission{margin:0; padding:0; list-style:none;}
ul.manage_permission li{font:bold 15px Arial, Helvetica, sans-serif; margin-bottom:10px;}
ul.manage_permission li ul{margin:10px 0 0 20px; padding:0; list-style:none;}
ul.manage_permission li ul li{font:normal 13px Arial, Helvetica, sans-serif; line-height:18px; margin-bottom:0px;}
.inactiverow{background-color:#e5e5e5;}


/***VN:17122012****/

.admin_serachleft{ width:750px; float:left; border: 0px solid #000; }
.admin_serachright{ float:right;  border: 0px solid #ff0000; }
.width150{ width:250px!important; margin-right: 10px!important; line-height: 28px\9;}
.marginrt_10{ margin-right: 10px!important;}
.searchie{ *margin-top: -15px!important; }
.searchfoundtxt{ padding-top: 7px;}
.width173{ width: 173px!important;}