body {font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#fff; }
#outerwrapper{}
#wrapper{ width:100%; margin:0px auto;}
.admin_sprite{ background:url(../images/admin_sprite.png) no-repeat left top; display:block;}
.header{ height:78px; padding:15px 15px 0px 15px; border-bottom:3px double #D7D7D7}.logo{ float:left;}
.he_right{ float:right;}.date{ float:left; font-size:12px; color:#000;}
.bt_logout{ float:right; margin:0px 20px;}.home_box{height:30px; margin-top:7px;}
.top_navbox{ background:#0293d2; border:0px solid #7a8f04; border-radius:5px 5px 0px 0px; -moz-border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px; -o-border-radius:5px 5px 0px 0px; padding:0px 16px; margin-right:225px;  }
.home_icon{ float:left; background:url(../images/iocn_home.png) no-repeat left 3px; width:32px; height:28px; padding-top:3px; border-right:1px solid #fff;}.home_icon a{ width:22px; height:22px; display:block;}
.user_welcometext{ float:left; color:#fff; font-size:13px; line-height:30px; padding-left:11px;}
.user_welcometext span{ font-weight:bold;}
.toolbox_dropdown_wrap{ float:right; width:211px; height:31px; }
.toolbox_dropdown{ width:100%; height:100%; background:url(../images/gray_bg.png) repeat-x left top; border:1px solid #7c7c7c; border-radius:9px 9px 9px 9px; -moz-border-radius:9px 9px 0px 0px; -webkit-border-radius:9px 9px 9px 9px;  padding:0px 0px; font-size:16px; font-weight:bold; color:#454545; text-shadow:1px 1px 1px 1px #fff; line-height:30px;}.contain{ margin-top:0px; padding:25px 15px 15px 15px; background:#f9f9f9; }.left_contain{ float:left; width:230px; left:0; top:0; overflow:hidden;}
.right_contain{  border:0px solid red; margin-left:240px;}
.heading_box{ background:url(../images/bg_darkgray.png) repeat-x left top; border:1px solid #444444; border-radius:5px 5px 0px 0px; -moz-border-radius:5px 5px 0px 0px;-webkit-border-radius:5px 5px 0px 0px; -o-border-radius:5px 5px 0px 0px; padding:7px 16px; font-size:16px; font-weight:bold; color:#fff;}.whitebox{ background:#fff; border:1px solid #afafaf; border-top:0px; padding:16px; min-height:350px;}.masg_div{ padding-bottom:16px; border-bottom:1px solid #cfcfcf; margin-bottom:12px;}.error_msg{ background:#ffe9cc; border:1px solid #ffb22d; padding:8px; border-radius:9px 9px 9px 9px; -moz-border-radius:9px 9px 9px 9px; -webkit-border-radius:9px 9px 9px 9px; margin-bottom:15px;}.error_msg span{ background:url(../images/icon-warnning.png) no-repeat left top; color:#ef0000; padding-left:25px;}
.form_fieldbox{  padding-bottom:16px; display:table; width:100%; border-bottom:1px solid #cfcfcf; margin:12px auto;}
.form_fieldbox dl{ display:block; width:100%; padding:5px 0px; margin:0px; clear:both;}
.form_fieldbox dl dt{ float:left; color:#454545; width:150px; text-align:left; }
.form_fieldbox dl dd{ float:left; /*width:auto;*/}.input{ /*width:69%;*/  background: none repeat scroll 0 0 #F9F8F7;  border: 1px solid #DDDDDD; color: #8F8F8F;  padding: 0px 10px;}
.select{ background:#fafbef; border:1px solid #c3c3c3;padding:6px 10px; color:#454545;}.table_viewbox h2{ font-size:14px; color:#007282; padding-bottom:8px;}.table_view{}.table_title{ background:#838383; padding:5px 8px; height:30px; border-radius:9px 9px 9px 9px; -moz-border-radius:9px 9px 9px 9px; -webkit-border-radius:9px 9px 9px 9px; }.table_view dl{ margin-bottom:5px; display:block; width:98%;}.table_view dl dt{ float:left; font-size:14px; font-weight:bold; color:#fff; }.table_view dl dd{ float:left; color:#454545; }.table_view .id{ text-align:center; width:3%;}.table_view .company{text-align:left; width:15%;}.table_view .username{ text-align:left; width:25%;}.table_view .email{ text-align:left; width:25%;}.table_view .status{ text-align:center; width:8%;}.table_view .details{ text-align:center; width:8%;}.table_view .edit{ text-align:center; width:8%;}.table_view .delete{ text-align:center;width:8%;}.grid_view{ background:#f0f0f0; padding:3px 8px; min-height:28px;}.editor_view{  padding-bottom:16px; border-bottom:1px solid #cfcfcf; margin-bottom:12px;}.editor_view h2{ font-size:14px; color:#007282; padding-bottom:8px;}/* Footer */#footer{ background:#e6e6e6; height:60px;}.ftr_wrapper{ width:100%; margin:0px auto;}.ftr_contain{ padding:18px 15px;}.copyright{ color:#5e5e5e;}.powerby_img{ text-align:right;}/******* Left Navigation CSS ***********/p {line-height: 1.5em;}ul#menu, ul#menu ul { list-style-type:none; margin: 0; padding: 0; width:100%;border:0px; clear:both;}ul#menu a {display: block;text-decoration: none;}ul#menu li {margin-top: 1px;}ul#menu li a {background:#c3e3f0;color: #0879b1; font:15px "Trebuchet MS", Arial, Helvetica, sans-serif;padding:7px 8px; border-bottom:1px solid #7fc6e2;}
ul#menu li a:hover { background:#99d5ef; color:#454545;}
ul#menu li ul li a {background:#e5f8ff; color:#454545; padding-left:10px;font-weight:normal; border-bottom:1px solid #d5e3ec; font-size:13px;}
ul#menu li ul li a:hover { background: #d0edf7; padding-left:10px;color:#454545;}
ul#menu li ul li .active { background: #d0edf7; padding-left:10px; color:#018fcd;}/******* Left Navigation CSS end ***********//********Admin DASHBOARD CSS STRAT **************/.dashboard_leftcontain{ float:left; width:25%;}.dashboard_quicklinkbox{ border:1px solid #a8a8a8; border-radius:9px 9px 9px 9px; -moz-border-radius:9px 9px 9px 9px; -webkit-border-radius:9px 9px 9px 9px; background:#cecece; padding:6px;}.dashboard_rightcontain{ float:right; width:72%;}.quicklinks{}.quicklinks h2{ font-size:15px; color:#454545; font-weight:normal;}.quicklinks h2 span{ font-weight:bold;}.quicklinks ul{ margin:0; padding:0; list-style:none;}.quicklinks ul li{ float:left; background:#ffffff; border:1px solid #b4b4b4; width:88px; height:74px; border-radius:9px 9px 9px 9px; -moz-border-radius:9px 9px 9px 9px; -webkit-border-radius:9px 9px 9px 9px; margin:11px;}.quicklinks ul li{ display:block; width:88px; height:74px;}.topic_icon{ height:37px; text-align:center; padding-top:10px;}.topic_name{ font-size:14px; color:#007282; text-align:center;}/* Dashboard right contain slider css */.dash_titlebox{  background:#27b4c8; padding:5px 8px; margin-bottom:5px;}
.dashboard_text{ padding:10px; text-align:justify; line-height:18px;}.dashboard_text p{ padding-bottom:10px;}body { font-family:Arial, Helvetica, sans-serif;font-size:12px;}p {line-height: 1.5em;}ul#menu1, ul#menu1 ul { list-style-type:none; margin: 0; padding: 0; width:100%; border:0px;}ul#menu1 a { display: block; text-decoration: none;}
ul#menu1 li { margin-top:2px;}
ul#menu1 li a {background:#838383 url(../images/slider_up.png) no-repeat 667px 15px; border-radius:9px 9px 9px 9px; moz-border-radius:9px 9px 9px 9x; -webkit-border-radius:9px 9px 9px 9px; color:#fff; font-size:15px;font-weight:bold;padding:7px 8px;margin-bottom:2px;}ul#menu1 li a:hover {background:#838383 url(../images/slider_down.png) no-repeat 667px 15px; border-radius:9px 9px 9px 9px; -moz-border-radius:9px 9px 9px 9x; -webkit-border-radius:9px 9px 9px 9px;}ul#menu1 li .active { background:#838383 url(../images/slider_down.png) no-repeat 667px 15px;
	border-radius:9px 9px 9px 9px; -moz-border-radius:9px 9px 9px 9x; -webkit-border-radius:9px 9px 9px 9px;}.bt_logout{ background-position:-11px -291px; width:76px; height:27px;}.bt_myaccount{ background-position:-109px -291px; width:106px; height:27px;}
table.table_viewbox{ padding:0px; margin-bottom:15px;}
table.table_viewbox th{ padding:5px 8px; text-align:left; color:#454545; /*background:#dddddd url(../images/grains-5percent_black.png) repeat-x left top; */border:1px solid #e3e3e3;}
table.table_viewbox td{ padding:5px 8px; border:1px solid #e3e3e3; border-top:0px; border-top:0px;}
table.table_viewbox img{ margin-right:15px;}
.inactiverow{background-color:#FFF; }
.activerow{background-color:#E6F4F7;}
.error{color:#F00}
.width{width:120px;}
.input41{ width:30%;  background:#fafbef; border:1px solid #c3c3c3; border-radius:9px 9px 9px 9px; -moz-border-radius:9px 9px 9px 9px; -webkit-border-radius:9px 9px 9px 9px; padding:6px 10px; color:#454545;}
.input41_selet{ width:25%;  background:#fafbef; border:1px solid #c3c3c3; border-radius:9px 9px 9px 9px; -moz-border-radius:9px 9px 9px 9px; -webkit-border-radius:9px 9px 9px 9px; padding:6px 10px; color:#454545;}
.input26{ width:26%;  background:#fafbef; border:1px solid #c3c3c3; border-radius:9px 9px 9px 9px; -moz-border-radius:9px 9px 9px 9px; -webkit-border-radius:9px 9px 9px 9px; padding:6px 10px; color:#454545;}
.inputhelptext{ width:90%; height:200px;  background:#fafbef; border:1px solid #c3c3c3; border-radius:9px 9px 9px 9px; -moz-border-radius:9px 9px 9px 9px; -webkit-border-radius:9px 9px 9px 9px; padding:6px 10px; color:#454545;}
.select_box{ float:left; width:300px;}
.search_found { color:#228FCA; font-weight:bold; font-style:italic; text-align:left;} 
.pagination{ float:right; width:300px; text-align:right; }
.pagination b{ width:15px; line-height:15px; border:1px solid #d1d1d1; font-weight:bold; padding:0px 5px; background:#f1f1f1;}
.pagination a{ width:15px; line-height:15px; border:1px solid #d1d1d1; font-weight:bold;padding:0px 5px; background:#d1d1d1;}

/*~~ Legends CSS ~~ */
.faq_legend_portion { height:60px!important;}
.faq_icons_grebox { width:370px; height:42px;  border:1px solid #e3e3e3; padding:5px; margin:0px; float:left;}
.faq_legend_hd { font-size:14px; font-weight:bold; color:#454545; text-align:right; padding:15px 8px 0px 0px; float:left; }
.faq_column1 { width:100px; float:left;}
.faq_active_icon { margin:2px 5px 3px 0px; float:left;}
.faq_active_hd { color:#454545; float:left; margin-bottom:3px;}
.faq_active_hd a { color:#454545;}
.faq_active_hd a:hover { color:#079ebf;}

/* Tool Tip CSS */
#bubble_tooltip{
	width:100px;
	position:absolute;
	display:none;
}
/*#bubble_tooltip .bubble_top{
	background:url('../images/bubble_top.gif');
	background-repeat:no-repeat;
	height:16px;	
}*/
#bubble_tooltip .bubble_middle{
	background:#2f2f2e;	
	padding:8px 5px;
	color:#fff;
	text-align:left;
	border-radius:3px 3px 0px 3px ; -moz-border-radius:3px 3px 0px 3px ; -o-border-radius:3px 3px 0px 3px; -webkit-border-radius:3px 3px 0px 3px;
}
#bubble_tooltip .bubble_middle span{
	position:relative;
	font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;

}
#bubble_tooltip .bubble_bottom{
	background:url(../images/popup_bottomcorner.png) no-repeat right bottom;
	height:12px;
	width:12px;
	position:relative;
	top:0px;
	left:88%;
}
/*---------------------For tooltip------------------------------*/
.tooltip {
outline: none;
text-decoration: none;
position: relative;
}
.tooltip span {
margin-left: -999em;
position: absolute;
text-align:left; width:160px;
}
.tooltip:hover span {
border-radius: 5px 5px;
font-family:Arial, Helvetica, sans-serif; 
position: absolute; left: 1em; top: 2em; z-index: 99;
text-align:left;
margin-left: 0; width: 150px;
height:50px;	
}
.classic { padding: 0.8em 1em; }
.classic {background:#FFF; box-shadow:0px 0px 6px #333;  -webkit-box-shadow:0px 0px 20px #333; -moz-box-shadow:0px 0px 20px #333; -o-box-shadow:0px 0px 20px #333;}
	
/* Tool Tip CSS */
#bubble_tooltip{
	width:100px;
	position:absolute;
	display:none;
}
/*#bubble_tooltip .bubble_top{
	background:url('../images/bubble_top.gif');
	background-repeat:no-repeat;
	height:16px;	
}*/
#bubble_tooltip .bubble_middle{
	background:#2f2f2e;	
	padding:8px 5px;
	color:#fff;
	text-align:left;
	border-radius:3px 3px 0px 3px ; -moz-border-radius:3px 3px 0px 3px ; -o-border-radius:3px 3px 0px 3px; -webkit-border-radius:3px 3px 0px 3px;
}
#bubble_tooltip .bubble_middle span{
	position:relative;
	font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;

}
#bubble_tooltip .bubble_bottom{
	background:url(../images/popup_bottomcorner.png) no-repeat right bottom;
	height:12px;
	width:12px;
	position:relative;
	top:0px;
	left:88%;
}
/*Add Multiple file in admin*/
.addfiles {
}
.addfiles dl {
    display: block;
    padding: 10px 0;
    width: 100%;
}
.addfiles dd {
    float: left;
    margin: 0 10px 0 0;
}
.afs_box {
    margin: 0;
}
#files {
    list-style: none outside none;
    text-align: right;
    width: 250px;
}
.success {
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #CFCFCF;
    margin: 5px;
    padding: 3px;
    text-align: left;
	list-style:none;
}
.success span {
    float: left;
}
.remove {
    position: relative;
    right: 0;
    top: 0;
}
.fileval {
    width: 206px;
}
/* Auto suggest*/
.suggestionsBox { position:absolute; left:0px; top:49px; margin: 15px 0px 0px 0px; width:238px; padding:10px; background-color: #3A3A3A; border-radius:0px 0px 6px 6px;	z-index:99999;	color: #fff;}
.suggestionList{ margin: 0px; padding: 0px;}
.suggestionList ul li {	list-style:none; margin: 0px; padding:0px; cursor: pointer; background:none!important;}
/*.btr_wrapp{background:url(../images/banner_bg.png) no-repeat center bottom; border-bottom:3px double #d7d7d7; padding-bottom:19px; margin-bottom:15px;}
.btr_wrapp .img_wrapp{width:132px; height:100px; background:url(../images/register_sprite.png) no-repeat 0px 0px; float:left;}
.btr_wrapp .btr_txt_wrapp{width:760px; float:right;}
.btr_wrapp .btr_txt_wrapp h1{color:#85a300; font:normal 26px "Trebuchet MS", Arial, Helvetica, sans-serif; margin-bottom:19px;}
.btr_wrapp .btr_txt_wrapp article{font:normal 16px/19px "Trebuchet MS", Arial, Helvetica, sans-serif;}
.bjf_wrapp{margin:0px 0px 20px; padding:0px 0px 20px; border-bottom:3px double #d7d7d7;}
.bjf_left_wrapp{width:288px; float:left;}
.bjf_left_wrapp h1{background:url(../images/sub_title_bg.png) no-repeat left bottom; padding-bottom:15px; margin-bottom:15px; color:#d88504; font:normal 22px "Trebuchet MS", Arial, Helvetica, sans-serif; text-align:center;}
.bjf_left_wrapp article{font:normal 14px/20px "Trebuchet MS", Arial, Helvetica, sans-serif; text-align:justify;}
.bjf_left_wrapp .bjf_1_img{width:98px; height:108px; background:url(../images/register_sprite.png) no-repeat -134px 0px; margin:0px auto 20px;}
.bjf_left_wrapp .bjf_2_img{width:125px; height:108px; background:url(../images/register_sprite.png) no-repeat -234px 0px; margin:0px auto 20px;}
.bjf_left_wrapp .bjf_3_img{width:97px; height:105px; background:url(../images/register_sprite.png) no-repeat -361px 0px; margin:0px auto 23px;}
.gmlq_wrapp{width:231px; height:187px; background:url(../images/register_sprite.png) no-repeat 0px -115px; float:right;}
.pm_say_wrapp{width:665px; float:left;}
.pm_say_wrapp .pm_txt_wrapp{background:url(../images/register_sprite.png) no-repeat -948px top; padding:20px 0px 0px 25px; font:normal 16px/25px "Trebuchet MS", Arial, Helvetica, sans-serif;}
.pm_say_wrapp h6{color:#a9a9a9; text-align:right; font:italic 14px "Trebuchet MS", Arial, Helvetica, sans-serif;}
.pm_say_wrapp h5{color:#c07b00; text-align:right; font:normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif;}

.gmlq_wrapp h3{text-align:center; color:#fff; font:normal 20px/25px "Trebuchet MS", Arial, Helvetica, sans-serif; margin:30px 0px;}
.gmlq_wrapp a.bt_getstar{width:89px; height:29px; background:url(../images/register_sprite.png) no-repeat -234px -115px; text-align:center;  display:block; color:#353535; font:normal 13px/26px "Trebuchet MS", Arial, Helvetica, sans-serif; margin:0px auto; text-shadow:0px 1px #c4f000; -moz-text-shadow:0px 1px #c4f000; -webkit-text-shadow:0px 1px #c4f000; -o-text-shadow:0px 1px #c4f000;}
.gmlq_wrapp a.bt_getstar:hover{background-position:-234px -148px;}
.register_wrapp .rw_bot_bg{width:979px; height:6px; background:url(../images/register.png) no-repeat 0px -342px;}
*/

.level_wrapp{margin:20px 0; padding:0;}
.level_wrapp h5{font:18px "ubuntu_condensedregular",Arial, Helvetica, sans-serif; color:#fff; border-bottom:1px solid #343434; padding-bottom:5px; margin-bottom:10px;}
.level_wrapp dl{margin:0; padding:0; width:100%; display:block;}
.level_wrapp dl dt{width:41px; float:left;}
.level_wrapp dl dt input[type=checkbox]{margin-top:2px;}
.level_wrapp dl dd{width:135px; float:left; padding-right:9px; font:14px "ubuntu_condensedregular",Arial, Helvetica, sans-serif; min-height:40px;}

.img_previ_wrapp{ margin:0px;}
.img_previ_wrapp ul{ display:block; list-style:none; width:100%; padding:0px; margin:0px;}
.img_previ_wrapp ul li{ float:left; padding:0px; margin:0px; width:125px;}
.img_previ_wrapp ul li a{  padding:0px; margin:0px;}
#form_attachment{ margin:10px 0px  0px 0px ;}
#form_attachment dl{ display:block; width:100%; padding:0px; margin:10px 0px  0px 0px ;}
#form_attachment dl dt{ width:120px; float:left; margin:0px; padding:0px 0px 0px 15px; font-weight:bold; }
#form_attachment dl dd{ width:190px; float:left; margin:0px; padding:0px; }

/****VN:12022013***/
.comment_detailsboxmain{ width:84%; margin: 0px auto; }
.comment_detailsbox dl{ border-bottom: 1px dashed #ddd;  margin-bottom: 5px; /*background:#f2f2f2;*/}
.comment_user{ text-indent: 0px; width:50px; height: 50px; text-align: center; float: left; margin:0px 15px;  display: block; padding: 0px; border: 1px solid #ddd;  margin-bottom: 10px;}
.comment_user img{ vertical-align: middle;}
.comment_mainbox dl dd{ width:630px; float: left; }
.comment_heading{ color:#666; margin-top: -4px; font-size: 14px; font-weight: bold;}
.comment_date{ color:#666;  margin: 5px 0px ; font-size: 13px; font-style: italic;}

.comment_postedby span{  color:#666;}
.comment_postedon span{ color:#8f8f8f;}
.back_none{ background:none!important;}
.bordernone{ border: 0px!important;}
.commentstitle{ min-height: 29px!important; margin-bottom: 15px!important;  border-bottom: 1px dashed #ddd;}
/***VN:13022013***/
.adminform{ margin: 25px 0px;}
.adminform dt{ margin: 5px 0px 0px 0px;}

/***** VN:13022013**** */

.all h1 {order-bottom: 4px solid #EAEDEE; color: #454545; font-size: 22px; font-weight: bold; padding-bottom: 13px;}
.admin_content_main{ margin: 0px; padding: 0px;}
.admin_content_left {float: left; width: 20%;}
.admin_content_right{float: left;margin-left: 2%;width: 78%;}
.admin_content_left ul{ margin: 0px ; padding: 0px; list-style: none;}
.admin_content_left ul li{ margin: 0px ; padding: 0px; list-style: none; background:url(../images/li_bg.png) no-repeat left bottom; min-height: 32px;}
.admin_content_left ul li a{ margin: 0px ; display: block; padding: 0px 0px 0px 32px; font: 13px/29px arial; color:#454545;  list-style: none;
background:url(../images/cat_arrow.png) no-repeat 12px 12px;}
.admin_content_left ul li a:hover{color:#df7300; background:url(../images/cat_arrow_hov.png) no-repeat 12px 12px; }
.admin_content_left ul li a.active{color:#df7300; background:url(../images/cat_arrow_hov.png) no-repeat 12px 12px;}
.admin_popular_category_list_head {color: #FFFFFF;font: bold 15px/39px arial;height:40px; text-align: center;}
.admin_product_category_listing ul{ margin:0px; padding:19px 0px 0px 0px;  overflow: hidden;}
.admin_product_category_listing ul li{ margin:0px; word-wrap: break-word; padding: 0px; overflow: hidden; list-style: none; width:162px; min-height:190px; height: auto!important;  float: left; margin-right:21px; border:0px solid #ff0000; }
.admin_product_category_listing .popular_productbox{ width:162px; min-height: 185px; background:url(../images/product_cate_list.png) no-repeat 0px 0px; margin-bottom: 19px; }
.admin_product_category_listing .product_head{ height:35px;  text-align: center;  font:bold 15px/33px arial; color:#fff;}
.admin_product_category_listing .product_imgbox{ width:162px; height:142px;   text-align: center; overflow: hidden;  padding-top: 21px;  }
.admin_product_category_listing .product_imgbox img{ vertical-align: middle;}
.prod_select{ font-size: 13px!important; font-weight: normal!important; margin-right: 15px;}
/******VN : pagination *********/
.adminpagination_main{ width:350px; float:right;}
.adminpagination_main ul{ margin:0px; padding:0px; display:block; list-style:none; overflow:hidden; }
.adminpagination_main ul li{ float:right;  margin:0px 7px 0px 0px;}
.adminpagination_main ul li a{ padding:1px 6px; background: url("../images/nav_bg.png") repeat-x scroll 0 0 #E0E0E0;
    border: 1px solid #CFCFCF; float:left; border: 1px solid #ada798; -moz-border-radius: 3px 3px 3px 3px; -o-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; 
    border-radius: 3px 3px 3px 3px; color:#454545; font-size: 12px; }
.adminpagination_main ul li a:hover{ padding:1px 6px;  float:left;  background: url("../images/nav_bg_hov.png") repeat-x scroll 0 0 #AFAFAF; border: 1px solid #ada798; color:#fff;}
.adminpagination_main ul li a.active{ padding:1px 6px; background:#f68453;  border: 1px solid #f68453; color:#fff;}
.whitelink{ color:#fff;}
.whitelink:hover{ color:#454545;}
.margin_left_10{ margin-left: 10px;}
.all h1{ border-bottom: 4px solid #eaedee; height: 35px; margin-top: 10px; font-size: 22px; padding-bottom: 13px; font-weight: bold; color:#454545;}
.checklisting { margin: 5px 0px; color:#8f8f8f;}
.checklisting input{ margin: 0px !important; padding: 0px !important;}
.checklisting  a{ margin: 0px 5px;}
.prodcategory_main{ margin:15px 7px;}
.check_all{ font-size: 12px!important; margin:8px 10px 0px 0px;}
.check_all input{ margin: 0px 5px 0px 0px!important;}
.margin_right10{ margin-right: 10px;}

/********** Added 5 June 2013 *********/
.script_box{border: 1px solid #CFCFCF; box-shadow: 0 0 2px #bbb inset; float:left; padding:1px 15px; margin:0 0 0 20px; border-radius:5px;}
.script_box pre{margin:0; padding:0;}
.trader_detail_box{margin:0; padding:0; width:50%; float:Left;}
.trader_contest_detail_box{width:49%; float:left; margin-left:0.7%;}
.trader_contest_detail_box .contestdetail_box{background:#f9f9f9; padding:15px 15px 5px; margin-bottom:10px; border: 1px solid #eae8e8;}
.trader_contest_detail_box .contestdetail_box ul{margin:0; padding:0; list-style:none;}
.trader_contest_detail_box .contestdetail_box ul li{list-style-type:none; min-height:30px; height:auto!important;}
.trader_contest_detail_box .contestdetail_box ul li h5{float:Left; font-size:14px; font-weight:normal; width:25%;}
.trader_contest_detail_box .contestdetail_box ul li h6{float:right; font-weight:normal; width:70%; font-size:13px!important;word-wrap:break-word;}

/*****************/

.smtp_settings_box{width:95%; float:Left; margin:0 0 0 1.5%; background:#f9f9f9; padding:15px; border: 1px solid #eae8e8;}
.filter_box{background:#d8d8d8; padding:5px; margin:10px 0 0 ; *height:20px;}
.filter_box:after{clear:both;}
.filter_box .select{color:#686868; box-shadow: 0 0 2px #bbb inset; -moz-box-shadow: 0 0 2px #bbb inset; -webkit-box-shadow: 0 0 2px #bbb inset; -o-box-shadow: 0 0 2px #bbb inset;}
.smtp_settings_box table th{border: 1px solid #c8c8c8; color:#454545;}
.smtp_settings_box .heading{font:16px "OpenSansRegular",Arial,Helvetica,sans-serif;}
.txtalign_center{text-align:center!important;}
a.select_all{color:#454545; font-size:13px; font-weight:bold; margin-bottom:10px; display:block;}
.textarea_db{ border:1px solid #cfcfcf; margin-left:20px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; box-shadow:0 0 2px #bbb inset; -moz-box-shadow:0 0 2px #bbb inset; -webkit-box-shadow:0 0 2px #bbb inset; -o-box-shadow:0 0 2px #bbb inset; color: #686868; font-family: Arial,Helvetica,sans-serif; font-size:14px; height:300px; padding:10px; width:80% !important;}
table.toplist td img{margin:0;}
.flag_img_box{float:left; margin:3px 14px 0 0;}
