@charset "utf-8";
/* CSS Document */

.ddsmoothmenu{
/*width:70%;*/
float:left;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0 0 0 0px;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
 border-right: 1px solid #315c92;
display: inline;
float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
/*background:url(../images/nav_boder_bg.png) repeat-y right top; background of menu items (default state)*/
color: #fff;
padding: 8px 10px;
/*border-right: 1px solid #138a89;*/
text-decoration: none;

}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color:#fff;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background:#2e6bb7; 
color:#fff;
}

.ddsmoothmenu ul li a:hover{
background:#215da7;  /*background of menu items during onmouseover (hover state)*/
color: #fff;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
box-shadow: none !important;

left: 0;

display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
border:none!important;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
background:#215da7; font:normal 12px Arial, Helvetica, sans-serif;
width: 160px; /*width of sub menus*/
padding: 5px;
margin: 0;
border:0px solid #1374b8;
color:#fff;
border-bottom:1px solid #1554a1;
line-height:25px;

}
.ddsmoothmenu ul li ul li a:link, .ddsmoothmenu ul li ul li a:visited{color:#fff; border:0 solid #fff; border-bottom:1px solid #1554a1;}
.ddsmoothmenu ul li ul li a:hover,  .ddsmoothmenu ul li ul li a.selected{background:#1554a1; color:#fff;}
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 15px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{ /*shadow for NON CSS3 capable browsers*/
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;

}

.toplevelshadow{ /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
opacity: 0.8;
}
