@charset "utf-8";
/* Login Page*/

.login_outer_wrapp{width:100%; min-height:630px;  background:url(../images/bluestrip.png) left top repeat-x;}
.login_contain{width:366px; margin:0 auto;}
.login_logo{text-align:center; padding:25px 0px 0px 0; height:58px; margin-bottom:30px;}
.login_form_box{padding:0; border:1px solid #d8d8d8; background:#ededed; margin-top:90px;}
.login_form_box h1{font:25px/30px "Cambria", sans-serif, Arial; margin:10px; color:#316db8; text-align:left; border-bottom:1px solid #cccccc; padding-bottom:5px;}
.login_form_box dl{padding:20px 0 0; width:85%; margin:0 auto;}
.login_form_box dl dd{margin:0; padding:0; min-height:60px;}
.login_form_box dl dd .input{ background: none repeat scroll 0 0 #fff;  border: 1px solid #c1c1c1; color: #8F8F8F;   height: 40px; padding: 0 10px; width:287px; font-size:15px;}
.for_pass_wrapp{ border-top:1px solid #CFCFCF; padding-top:10px; text-align:right; width:90%; margin:0 auto 10px;}
