@charset "utf-8";
/* CSS Document */
.contain {
    margin-top: 15px;
    padding: 0 15px 15px;
}
.heading_box {
    background: url("../../siteAssets/images/icon/bg_darkgray.png") repeat-x scroll left top transparent;
    border: 1px solid #A8AC10;
    border-radius: 9px 9px 9px 9px;
    color: #AAAAAA;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 16px;
}
.form_fieldbox {
    border-bottom: 1px solid #CFCFCF;
    display: table;
    margin: 12px auto;
    padding-bottom: 16px;
    width: 100%;
}
table.table_viewbox {
    margin-bottom: 15px;
    padding: 0;
}
.inactiverow {
    background-color: #FFFFFF;
}
table.table_viewbox td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #E3E3E3 #E3E3E3;
    border-image: none;
    border-right: 1px solid #E3E3E3;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 5px 8px;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.admin_btn {
    background: none repeat scroll 0 0 #B00C0C;
    border: 1px solid #7E0707;
    border-radius: 9px 9px 9px 9px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 15px;
}